

#par3 {
    background-color: yellow;
}

#paragraf2{
    background-color: chartreuse;
}

.ortak{
    background-color: brown;
}

#paragraf3{
    background-color: mediumorchid;
}

#par1{
    background-color: blue;
}
